<form action="/signin" method="post">
    <input type="text"  required name="name" placeholder="enter your name">
    <input type="email"  required name="email" placeholder="enter your email">
    <input type="date"  required name="dob" placehodler="date of birth" id="dob">
    <input type="date"  required name="dob" placehodler="date of birth" id="dob">
    <input type="password"  required name="password" placeholder="password">
    <input type="password"  required name="confirm-password" placeholder="confirm-password">

</form>